<div class="container order-summary">
    <div class="row">
        <h2>Order Summary</h2>
            <p class="logout">
                <a href="#" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </p>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let order of orderDetails; let i = index;">
            <div class="card">
                <div class="card-body">
                    <h4>Order No : {{ order.orderNo }}</h4>
                    <p class="card-title">Customer Name : {{ order.custName }}</p>
                    <p class="card-text">Num of items ordered : {{ order.noOfItemsOrdered }}</p>
                    <p class="card-text">Total amount of orders : {{ order.totalAmountOfOrder }}</p>
                    <div class="card-text">Status of order :
                        <select id="select1">
                            <option>Order Recieved</option>
                            <option>Preparing</option>
                            <option>Ready to serve</option>
                        </select>
                    </div>
                    <a href="#" class="card-link" routerLink="/orderDetails/{{order.orderNo}}">See More Details</a>
                </div>
            </div>
        </div>
    </div>
</div>